*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.vscode
.metals
*metals.sbt
.bloop

credentials.sbt
.idea
*.iml

universe.avro
sbt.json

# from nix build
result